/* ChangePassword component styles */
.ChangePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../Assets/1680colourback_2013.jpg');
    background-size: cover;
    background-position: center;
    /* Specify your distinctive background image */
}

/* Container styling */
.ChangePassword-container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    /* Transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;

    /* Add position relative */
}

/* Form styling */
.change-password-form {
    width: 50%;
    max-width: 500px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;

}

/* Form field styling */
.change-password-form .form-field {
    position: relative;
    margin-bottom: 20px;
}

.change-password-form .form-field input[type="password"] {
    width: calc(100% - 40px);
}

.change-password-form .toggle-password {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #007bff;
    /* Blue color for the toggle icon */
    cursor: pointer;
}

/* Submit button styling */
.change-password-form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #0078f8;

    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.6s ease;
    margin-top: 15px;
}

.change-password-form button[type="submit"]:hover {
    background-color: #220044;
}

/* Error message styling */
.error-message {
    color: red;
    margin-top: 10px;
}

/* Center the h2 title */
.ChangePassword .ChangePassword-container h2 {
    margin-left: 35%;
    color: #3c3a6f;
    font-style: oblique;
    z-index: z;


}

.change-password-form .icon {

    color: #007bff;
}

.profile-back-btn,
.profile-header .profile-register-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.6s ease;

}

.profile-header .profile-register-btn:hover {
    background-color: #220044;
}